/* Start Variables */

:root {
  --main-color: #fad02c;
  --title-color: #495057;
  --para-color: #444;
  --tran-dur: 0.3s;
}

/* End Variables */

/* Start Global Rules */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/* End Global Rules */

/* Start Component */
/* End Component */

/* Start Header */

header {
  padding: 10px 0;
  height: 60px;
  position: absolute;
  width: 100%;
  z-index: 2;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .logo a {
  font-size: 20px;
  color: var(--main-color, #fad02c);
}

header .logo a span {
  color: white;
}

header nav {
  position: relative;
}

header nav ul {
  display: flex;
  align-items: center;
  transition: var(--tran-dur, 0.3s);
  -webkit-transition: var(--tran-dur, 0.3s);
  -moz-transition: var(--tran-dur, 0.3s);
  -ms-transition: var(--tran-dur, 0.3s);
  -o-transition: var(--tran-dur, 0.3s);
}

@media (max-width: 768px) {
  header nav ul {
    display: block;
    position: absolute;
    background-color: #343a40;
    width: 120px;
    top: 100%;
    left: 0;
    transform: translate(-58%, -100%);
    -webkit-transform: translate(-58%, -100%);
    -moz-transform: translate(-58%, -100%);
    -ms-transform: translate(-58%, -100%);
    -o-transform: translate(-58%, -100%);
    text-align: center;
    z-index: -1;
    opacity: 0;
  }

  header nav:hover ul {
    opacity: 1;
    z-index: 1;
    transform: translate(-58%, 0);
    -webkit-transform: translate(-58%, 0);
    -moz-transform: translate(-58%, 0);
    -ms-transform: translate(-58%, 0);
    -o-transform: translate(-58%, 0);
  }
}

header nav ul a {
  display: block;
  padding: 10px;
  color: #dee2e6;
  font-weight: 400;
  text-transform: capitalize;
}

header nav ul a:hover {
  color: rgba(0, 0, 0, 0.7);
}

header nav ul a.active {
  color: var(--main-color, #fad02c);
}

header nav .icon {
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50px;
  height: 40px;
  padding: 8px;
  cursor: pointer;
}

@media (min-width: 768px) {
  header nav .icon {
    display: none;
  }
}

header nav .icon span {
  display: block;
  height: 4px;
  width: 90%;
  background-color: #343a40;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* End Header */

/* Start Landing */

.landing {
  min-height: 100vh;
  background-image: url(../photos/landing.jpg);
  background-position: center center;
  background-size: cover;
  position: relative;
}

.landing::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0 0 0 / 45%);
  z-index: 0;
}

.landing .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 100%;
}

.landing .text p {
  font-size: 14px;
}

.landing .text h2 {
  font-size: calc(35px + (60 - 35) * ((100vw - 300px) / (1200 - 300)));
  margin: 20px 0;
}

@media (max-width: 576px) {
  .landing .text h2 {
    font-size: 42px;
  }
}

.landing .text a {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  display: block;
  width: fit-content;
  margin: 0 auto;
  transition: var(--tran-dur, 0.3s);
  -webkit-transition: var(--tran-dur, 0.3s);
  -moz-transition: var(--tran-dur, 0.3s);
  -ms-transition: var(--tran-dur, 0.3s);
  -o-transition: var(--tran-dur, 0.3s);
}

.landing .text a:hover {
  color: #212529;
  background-color: white;
}

/* End Landing */
